.card_body{
  margin: 2rem
}

.grid{
  display:grid;
  height: 100%;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 30rem));
  gap: 2rem;
  padding-top: 20px;
  margin-left:10px;
  margin-right: 10px;
  justify-content: center;
}

.card_image{
  height:max-content;
  width:100%;
  object-fit: cover;
}

.card{
  height: auto;
  width: auto;
  overflow: hidden;
  box-shadow: 0 2px 20px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.grid .card{
  background-color:black;
  opacity: 0.9;
}

.card_body{
  color: white;
}

.card_button {
  background-color: darkgray; 
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.card_button {
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
}

.card_button:hover {
  background-color: darkgray;
  color: black;
}